@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color:#FFFFFF;
  text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-container {
  flex-grow: 1;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 500px;
  list-style-type: none;
}

.navigation-user {
  max-width: 320px;
  margin-left: auto;
}

.navigation-link {
  display: block;
  padding: 24px 19px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  font-size: 20px;
  color: #000000;
  text-transform: capitalize;
  text-decoration: none;
}

.logo{
  margin: 0px 209px 0px 151px;
}

.navigation-user .navigation-link {
  min-width: 18px;
  min-height: 18px;
}

.booking-want {
  display: block;
  padding-top: 9px;
  margin-top: 14px;
  width: 160px;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #756257;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.welcome {
  background-image: url("../image/index-background.jpg");
  background-color: #a7a7b0;
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding: 51px 371px 82px;
}

.logo-index{
  display: block;
  margin: 0 auto;
}

.advantages{
  display: block;
  margin: 0 auto;
}

.reasons{
  font-size: 22px;
  line-height: 36px;
  width: 720px;
  margin: 23px 240px 79px;
  text-align: center;

}

.advantages h2{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  width: 720px;
  margin: 63px 240px 0;
}
.advantages-list{
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

.advantages-column-foto{
  display: flex;
  justify-content: row;
}

.advantages-column-hs-gft-rd{
  display: flex;
  justify-content: center;
}

.advantages-column-3-4-5{
  display: flex;
  justify-content: center;
}
.advantages-box{
  width: 400px;
  height: 384px;
}

.advantages-number {
  text-transform: uppercase;
  margin: 0;

}

.advantages-title {
  padding-top: 98px;
  padding-bottom: 25px;
  margin: 0;
  font-weight: 700d;
  font-size: 24px;
  line-height: 28px;
  height: 60;
  text-transform: uppercase;
}

.advantages-foto {
  color: #FFFFFF;
  background-color: #83B3D3;
  width: 1200px;
  height: 384px;
}

.advantages-description-foto {
  color: #FFFFFF;
  width: 220px;
  height: 73px;
  padding: 26px 90px 77px;
  margin: 0;
}

.advantages-description {
  width: 250px;
  height: 73px;
  padding: 26px 75px 77px;
  margin: 0;
}

.advantages-hs-gft-rd {
  background-color: #FFFFFF;
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-sq-tour {
  background-color: #FFFFFF;
  background-color: rgba(131, 179, 211, 0.12);
}

.date {
  font-size: 22px;
  line-height: 26px;
}

.booking-search {
  display: block;
  justify-items: center;
  margin-left: 72px;
  font-size: 20px;
  line-height: 36px;
  padding-top: 13px;
  padding-bottom: 17px;
  background-color: #756257;
  border-radius: 10px;
  width: 575px;
  font-weight: 700;
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
}

.search{
  padding: 91px 240px;
  width: 720px;
}
.search h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
.newsletter {
  background-image: url("../image/footer/footer-background.jpg");
  background-color: #777DA7;
  color: #FFFFFF;
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding-top: 94px;
  padding-bottom: 93px;
}

.newsletter-subscription {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.newsletter p {
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
  padding: 0;
  margin: 0;
}

.newsletter-button {
  background-color: #83B3D3;
}

.newsletter-form{
  display: flex;
  justify-content: center;
  padding-top: 26px;
}

.date{
  padding-bottom: 70px;
  margin: 0px;
}

.footer-contacts-phone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 107px;
}

.social-link {
color: #000000;
text-transform: capitalize;
width: 20px;
height: 18px;
}

.page-footer-container {
  display: flex;
  justify-content: center;
  width: 1200px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 30px;
}

.footer-social-item{
  display: flex;
  justify-content: space-between;
}

.footer-contacts-phone{
  width: 720px;
}

.made-in{
  width: 115px;
}

.breadcrumbs {
  display: flex;
  list-style-type: none;
  padding: 0px;
}

.breadcrumbs a {
  font-weight: 400;
  text-transform: capitalize;
  margin-top: 5px;
  margin-right: 26px;
}

.hotel-search {
  display: flex;
  justify-content: space-between;
  color: #FFFFFF;
  padding: 0 72px;
  text-align: left;
  background-image: url("../image/catalog/catalog-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}



.catalog-filter {
  display: grid;
  grid-template-columns: 150px 67px 150px 167px 287px 81px 160px;
  margin-top: 26px;
  margin-bottom: 83px;
}

.catalog-filter-group-infrastructure {
  grid-column: 1/-7;
  padding: 0;
  margin: 0;
  border: 0;
  display: flex;
  flex-direction: column;

}

.catalog-filter-group-infrastructure label {
  margin-top: 13px;
}

.catalog-filter-group-type {
  grid-column: 3/-5;
  list-style-type: none;
  align-self: start;
  padding: 0;
  border: 0;
}

.catalog-filter-list {
  padding: 0;
  margin: 0;
}

.catalog-filter-group-price {
  grid-column: 5/-3;
}

.apply-reset-button {
  grid-column: 7/-1;
  align-self: end;
}

.catalog-filter-item {
  list-style-type: none;
  margin-top: 13px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.button-apply {
  width: 160px;
  height: 48px;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  text-transform: uppercase;
  background-color: #83B3D3;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-right: 72px;
  border: 0px;
}

.button-reset {
  background: transparent;
  border: 0px;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-transform: capitalize;
  color: #FFFFFF;
  text-align: center;
}

.sorting-container {
  display: flex;
  justify-content: space-between;
  margin: 43px 71px;
}

.sorting-container h2 {
  margin: 0;
}

.select-control {
  padding: 0;
}

.hotel-list {
  display: grid;
  grid-template-columns: 1056px;
  gap: 58px;
  padding: 0;
  margin-left: 72px;
}

.hotel-card {
  display: grid;
  grid-template-columns: 180px 36px 151px 8px 160px 361px 160px;
  grid-template-areas:
  "hotel-card-link . hotel-card-title  hotel-card-title hotel-card-title . stars"
  "hotel-card-link . hotel-card-type . hotel-card-price . ."
  "hotel-card-link . . . . . ."
  "hotel-card-link . hotel-card-show-more . hotel-add-favourit . rating"
}

.hotel-card-link {
  grid-area: hotel-card-link;
}

.hotel-card-title {
  grid-area: hotel-card-title;
  color: #000000;
  font-size: 24px;
  line-height: 31px;
  text-transform: capitalize;
  text-align: left;
  text-decoration: none;
}

.hotel-card-title h3 {
  margin: 0;
}

.hotel-card-type {
  grid-area: hotel-card-type;
  justify-self: start;
}

.hotel-card-price {
  grid-area: hotel-card-price;
  justify-self: start;
}
.hotel-card-show-more {
  grid-area: hotel-card-show-more;
  padding-top: 9px;

  padding-bottom: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #756257;
}

.hotel-add-favourit {
  grid-area: hotel-add-favourit;
  padding-top: 9px;

  padding-bottom: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #83B3D3;
  }

.stars {
  grid-area: stars;
  margin: auto;
  align-self: center;
}

.rating {
  grid-area: rating;
  justify-content: center;
  align-self: center;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
}

.pagination-container {
  display: flex;
  width: 1056px;
  justify-content: space-between;
  align-items: center;
  margin-left: 72px;
  margin-bottom: 89px;
}

.pagination {
  display: flex;
  list-style-type: none;
}

.pagination-download-more {
  font-weight: 700;
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 26px;
  background-color: #83B3D3;
  width: 55px;
  height: 55px;
  text-align: center;
  padding: 12px;
  color: #FFFFFF;
  text-decoration: none;
}

.pagination-current {
  color: #242424;
  background-color: #FFFFFF;
}

.pagination-download-more {
  background-color: #83B3D3;
  width: 625px;
  height: 55px;
  border: none;
  padding: 0;
}

.pagination-item {
  margin-right: 8px;
}

.newsletter-catalog-form {
  display: flex;
  justify-content: center;
  margin-top: 26px;
  margin-bottom: 100px;
  }

.newsletter-catalog p {
  padding: 0;
  font-size: 22px;
  line-height: 26px;
}

.newsletter-catalog-subscription {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

