@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color:#FFFFFF;
  text-align: center;
}

.main-container {
  flex-grow: 1;
}

button {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
  text-transform: uppercase;
}

a {
  font-weight: 700;
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation-list {
  margin: 0;
  padding: 0;
  width: 500px;
}

.navigation-user {
  max-width: 320px;
  margin-left: auto;
}

.navigation-link {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  font-size: 20px;
  color: #000000;
  text-transform: capitalize;
}
.booking-want {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  background-color: #756257;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.welcome {
  background-image: url("../image/index-background.jpg");
  background-color: #a7a7b0;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.logo-index{
  display: block;
  margin: 0 auto;
}

.advantages{
  display: block;
  margin: 0 auto;
}

.advantages-list{
  padding: 0px;
  margin: 0px;
}

.advantages-column-foto{
  display: flex;
  justify-content: row;
  }


.advantages-column-hs-gft-rd{
  display: flex;
  justify-content: center;
}

.advantages-column-3-4-5{
  display: flex;
  justify-content: center;
}
.advantages-box{
  width: 400px;
}

h2 {
  font-weight: 700d;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.advantages p {
  font-size: 22px;
  line-height: 36px;
  color: #333333;
}

.advantages-number {
  text-transform: uppercase;
}

.advantages-title {
  font-weight: 700d;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-foto {
  color: #FFFFFF;
  background-color: #83B3D3;
  width: 1200px;
}

.advantages-foto p {
  color: #FFFFFF;
}

.advantages-hs-gft-rd {
  background-color: #FFFFFF;
  background-color: rgba(131, 179, 211, 0.2);

}

.advantages-sq-tour {
  background-color: #FFFFFF;
  background-color: rgba(131, 179, 211, 0.12);

}

.date {
  font-size: 22px;
  line-height: 26px;
}

.booking-search {
  font-size: 20px;
  line-height: 36px;
  background-color: #756257;
  }

.newsletter {
  background-image: url("../image/footer/footer-background.jpg");
  background-color: #777DA7;
  color: #FFFFFF;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.newsletter-subscription {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.newsletter p {
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
}

.newsletter-button {
  background-color: #83B3D3;
}

.footer-contacts-phone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
}

.social-link {
color: #000000;
text-transform: capitalize;
}

.page-footer-container {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
}

.footer-social{
  display: flex;
  justify-content: space-between;
  width: 107px;
}

.footer-contacts-phone{
  width: 720px;
}

.made-in{
  width: 115px;
}

.hotel-search {
  background-image: url("../image/catalog/catalog-background\ 1.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.hotel-card-show-more {
  font-size: 16px;
  line-height: 21px;
  background-color: #756257;
}


.hotel-add-favourit {
  font-size: 16px;
  line-height: 21px;
  background-color: #83B3D3;
}

.pagination-link {
  font-size: 20px;
  line-height: 26px;
  background-color: #83B3D3;
}

.pagination-current {
  color: #242424;
  background-color: #FFFFFF;
}

.pagination-download-more {
  background-color: #83B3D3;
}

.rating {
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
}

.hotel-card-link {
  color: #000000;
  font-size: 24px;
  line-height: 31px;
  text-transform: capitalize;
}
