@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}


.welcome {
  background-image: url("../image/index-background.jpg");
  background-color: #a7a7b0;
  background-size: 100% auto;
  background-repeat: no-repeat;
}


.newsletter {
  background-image: url("../image/footer/footer-background.jpg");
  background-color: #777DA7;
  color: #FFFFFF;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.hotel-search {
  background-image: url("../image/catalog/catalog-background\ 1.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}
